#sortable { 
    list-style-type: none; 
    display: inline-block
}
#sortable li { 
    margin: 3px 3px 0 0; 
    float: left; 
}

#rtsa-slider-container {
    margin: auto;
}

.lSSlideOuter .lSGallery {
    margin: 5px auto !important;
}